<!DOCTYPE html>
<html>
  <head>
    <title>{{appName}} - Vanilla</title>
    {{> partials/header}}
    {{> partials/header-dashboard}}
  </head>
<body>
<!-- To implement your own website using this code as a starting point, just rip out all of the code below, but leave everything below "Bootstrap core JavaScript" //-->
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{appName}}</a>
        </div>
        <div class="nav navbar-nav">
                <p>Server Time from mustache template: {{today}}, {{time}}</p>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>test</li>
          </ul>

        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            {{{demo_menu}}}
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1>Vanilla</h1>
        </div>
      </div>
    </div>


<!-- begin footer includes //-->
{{> partials/footer-includes}}
<!-- end footer includes //-->

  </body>
</html>


   