<!DOCTYPE html>
<html>
    <head>
        <title>{{appName}} - Home</title>
    {{> partials/header}}
    {{> partials/header-dashboard}}
    <link href="/assets/css/bootstrap-callout.css" rel="stylesheet">
    </head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{appName}}</a>
        </div>
        <div class="nav navbar-nav">

        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>test</li>
          </ul>

        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            {{{demo_menu}}}
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1>PHP Template Seed Project</h1>

    <div class="panel panel-default">
        <div class="panel-heading">
        <h3 class="panel-title">php-seed-bootstrap - Installation Tests</h3>
        </div>
        <div class="panel-body">
        {{{installation_status}}}
        <p>Server Time from template variables: <code>{{today}}, {{time}}</code></p>
       
        <h4>Data from a Database PDO Wrapper class</h4>
        <ul>
        {{#users}}
        <li>{{name}}</li>
        {{/users}}
        </ul>
        <p>PDO examples for Postgres and MySQL are included. Mock data is used in this example & rendered via Mustache.</p>

        <div class="bs-callout bs-callout-info">
        <h4>To use PDO instead of the Mock PDO</h4>
        <ul style="list-style: decimal inside;">
        <li>In Bootstrap.php uncomment <code>$conn = $injector->make('\Main\PDO'); </code>. It must stay below the <code>$injector->define</code> for PDO.</li>
        <li>Your controller must <code>use \Main\PDO;</code> and not  <code>use \Main\Mock\PDO;</code></li>
        <li><b>Config.php</b> should have your database settings. <code>$dbtype</code> should be set to <b>mysql</b> or <b>postgres</b>. You can add other types supported by PDO, as this is just a PDO instantiation.</li>
        <li>Stub out your database queries. In this demo, we stubbed them out to <code>\Main\Traits\QueryData.php</code> which is included by the PDO class, so <code>$conn->getUsers()</code> is treated like a local class function.</li>
        </div>


        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
        <h3 class="panel-title">About php-seed-bootstrap</h3>
        </div>
        <div class="panel-body">
        <p class="blog-post-meta">{{month}} {{day}}, {{year}} by <a href="http://github.com/funkytaco">Luis Gonzalez</a></p>
            <h4>Components</h4>
        <ul>
            <li><a href="https://github.com/twbs/bootstrap">Bootstrap</a> for front-end development</li>
            <li><a href="https://getcomposer.org/">Composer</a> for dependency management and project setup</li>
            <li><a href="https://github.com/filp/whoops">whoops</a> for error handling</li>
            <li><a href="https://github.com/chriso/klein.php">Klein</a> for routing</li>
            <li><a href="https://github.com/mustache/mustache">mustache</a> for templating</li>
            <li><a href="https://github.com/rdlowrey/Auryn">Auryn</a> for dependency injection</li>
        </ul>
            <p>If you read through the <a href="https://github.com/PatrickLouys/no-framework-tutorial">No Framework tutorial</a>, you can learn how to replace the router (Klein), the template engine (Mustache), the error handler, or the dependency injector (Auryn).</p>

        <h4>Where does everything go?</h4>

        <pre><code class="language-bash" data-lang="bash">
        {{appTree}}
        </code></pre>

        <div class="alert alert-info" role="alert">
        <strong>Note:</strong> Please make sure to read README.md for further details.
        </div>


        </div>
    </div>

    <!-- begin bootstrap demo //-->
    {{> partials/body-test-bootstrap}}
    <!-- end bootstrap demo //-->

            </div>
        </div>
    </div>

<!-- begin footer includes //-->
{{> partials/footer-includes}}
<!-- end footer includes //-->
  </body>
</html>


   