<!DOCTYPE html>
<html>
    <head>
        <title>{{appName}} - Home</title>
    {{> partials/header}}
    <link href="/assets/css/bootstrap-callout.css" rel="stylesheet">
    </head>
    <body>
        <h1>PHP-MVC installed.</h1>


        <pre>
        Source directory:

    src
    ├── Controllers
    ├── Database
    ├── Mock
    │   └── Traits
    ├── Renderer
    ├── Static
    ├── Traits
    │   └── DB
    └── Views
        └── partials
        
        Test directory:

    test
    └── src
        ├── Controllers
        └── Mock
        </pre>
        
        
    {{> partials/footer}}
    </body>
</html>


   